<div id="aboutme" class="row">
  <h2 class="white-text center-align header">Bio</h2>
  <div class="col s12 m2">
    <img class="left-align circle responsive-img" src="images/thumbs/me.jpg">
  </div>
  <div class="col s12 m10">
    <h5 class="thin white-text center">I'm a developer who prioritizes strong design patterns, creativity, and learning from others. Last year I graduated from a Full Stack Immersive program at <strong><a href="http://www.galvanize.com/" class="white-text" target="_blank">Galvanize</a></strong> to jumpstart my career and expertise in the world of software development, and have since been a software engineer at <strong><a href="http://www.mashey.io/" class="white-text" target="_blank">Mashey.io</a></strong>
        <br><br>I'm a problem solver at heart - coming from a background in philosophy and clinical psychology. I am a technological optimist and believe that the web serves as a paramount tool for economic and social advancement.</h5>
  </div>
</div>

<div class="row center-align">
  <div class="social-lg col s4">
    <a href="https://github.com/erikabrahamson"><i class="fa fa-github white-text"></i></a>
  </div>
  <div class="social-lg col s4">
    <a href="https://www.linkedin.com/in/erikabrahamson"><i class="fa fa-linkedin white-text"></i></a>
  </div>
  <div class="social-lg col s4">
    <a href="https://twitter.com/erik_abrahamson"><i class="fa fa-twitter white-text"></i></a>
  </div>
  <!-- <div class="social-lg col s3">
    <a href="https://students.galvanize.com/people/438"><img src="images/thumbs/gschool.png"></a>
  </div> -->
</div>
