<div class="row valign-wrapper">
  <div class="col s2">
    <img class="circle responsive-img" src="images/thumbs/me.jpg">
  </div>
  <div class="col s10">
    <h2 class="center-align black-test header">About Me&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    <p class="thin black-test">Vinyl readymade occupy mumblecore drinking vinegar cronut. Banh mi disrupt Portland pug, plaid butcher fap wayfarers forage slow-carb swag Thundercats mlkshk. Ethical keytar locavore, selfies iPhone Tumblr asymmetrical squid Bushwick keffiyeh bespoke. Bushwick Echo Park seitan, chambray tofu wayfarers aesthetic mumblecore messenger bag High Life American Apparel. Fingerstache Schlitz Shoreditch messenger bag taxidermy, farm-to-table tattooed polaroid. Bicycle rights polaroid shabby chic Vice Neutra. Ennui literally Vice, PBR XOXO farm-to-table drinking vinegar Banksy meh Thundercats.</p>
  </div>
</div>
