<div class="row valign-wrapper" id="aboutme">
  <div class="col s2">
    <img class="circle responsive-img" src="images/thumbs/me.jpg">
  </div>
  <div class="col s10">
    <h2 class="center-align white-text header">About Me&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    <p class="thin white-text">Vinyl readymade occupy mumblecore drinking vinegar cronut. Banh mi disrupt Portland pug, plaid butcher fap wayfarers forage slow-carb swag Thundercats mlkshk. Ethical keytar locavore, selfies iPhone Tumblr asymmetrical squid Bushwick keffiyeh bespoke. Bushwick Echo Park seitan, chambray tofu wayfarers aesthetic mumblecore messenger bag High Life American Apparel. Fingerstache Schlitz Shoreditch messenger bag taxidermy, farm-to-table tattooed polaroid. Bicycle rights polaroid shabby chic Vice Neutra. Ennui literally Vice, PBR XOXO farm-to-table drinking vinegar Banksy meh Thundercats.</p>
  </div>
</div>
  <div class="row center-align">
    <div class="social-lg col s3">
      <a href="https://github.com/erikabrahamson"><i class="fa fa-github white-text"></i></a>
    </div>
    <div class="social-lg col s3">
      <a href="https://www.linkedin.com/in/erikabrahamson"><i class="fa fa-linkedin white-text"></i></a>
    </div>
    <div class="social-lg col s3">
      <a href="https://twitter.com/erik_abrahamson"><i class="fa fa-twitter white-text"></i></a>
    </div>
    <div class="social-lg col s3">
      <a href="https://students.galvanize.com/people/438"><img src="images/thumbs/gschool.png"></a>
    </div>
</div>

