<footer id="contact" class="page-footer light-green lighten-5 scrollspy">
    <div class="container">
        <div class="row">
        <h2 class="center-align black-test">Ready to talk? Drop me a line!</h2>
            <div class="col 20 s12">
                <div class="col s4">
                <ul>
                    <li>
                        <a href="mailto:e.a.abrahamson@gmail.com"><i class="fa fa-envelope-o fa-sm black-test">&nbsp;e.a.abrahamson@gmail.com</i></a>
                    </li>
                    <li>
                        <a class="black-test" href="https://www.twitter.com/erik_abrahamson"><i class="extra-small fa fa-twitter-square black-test">&nbsp;@erik_abrahamson</i></a>
                    </li>
                    <li>
                        <a class="black-test" href="https://github.com/erikabrahamson"><i class="extra-small fa fa-github-square black-test">&nbsp;/erikabrahamson</i></a>
                    </li>
                    <li>
                        <a class="black-test" href="https://www.linkedin.com/in/erikabrahamson"><i class="extra-small fa fa-linkedin-square black-test">&nbsp;/erikabrahamson</i></a>
                    </li>
                </ul>
                </div>
                <form class="col s8" action="//formspree.io/e.a.abrahamson@gmail.com" method="POST">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix black-test"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate black-test">
                            <label for="icon_prefix" class="black-test">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix black-test"></i>
                            <input id="icon_email" name="_replyto" type="email" class="validate black-test">
                            <label for="icon_email" class="black-test">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix black-test"></i>
                            <textarea id="icon_prefix2" name="message" class="materialize-textarea black-test"></textarea>
                            <label for="icon_prefix2" class="black-test">Message</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit">Submit
                                <i class="mdi-content-send right black-test"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</footer>
<div class="center blue-text">&copy; 2015 - Erik Abrahamson. Made in Jurassic Park</div>
