<div class="navbar-fixed">
  <nav class="teal darken-1 z-depth-0">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">{{ greeting }}</a>
      <ul class="right hide-on-med-and-down">
        <li><a id="about-link" href="#">About Me</a></li>
        <li><a id="projects-link" href="#project">Projects</a></li>
        <li><a id="resume-link" href="#">Resume</a></li>
        <li><a id="contact-link" href="#">Contact</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
         <li><a href="#">About Me</a></li>
         <li><a href="#">Projects</a></li>
         <li><a href="#">Resume</a></li>
         <li><a href="#">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<div class="section teal darken-1">
  <div class="row container">
    <div class="col s12">
      <h5 class="thin white-text valign center-align">Hi, I'm</h5>
      <h2 class="light title white-text center-align header">ERIK ABRAHAMSON</h2>
      <h5 class="thin white-text valign center-align">and I
      <strong>design</strong> and <strong>code</strong></h5><br><br>
    </div>
  </div>
</div>
