<div class="navbar-fixed">
  <nav class="red darken-3 z-depth-0">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">&nbsp;</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" id="about-link" href="#">About Me</a></li>
        <li><a class="white-text" id="projects-link" href="#project">Projects</a></li>
        <li><a class="white-text" id="resume-link" href="#">Resume</a></li>
        <li><a class="white-text" id="contact-link" href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="section red darken-3 z-depth-5">
  <div class="row container">
    <div class="col s12">
      <h5 class="thin white-text valign center-align">Hi, I'm</h5>
      <h2 class="accent-title light title white-text center-align header">ERIK ABRAHAMSON</h2>
      <h5 class="thin white-text valign center-align">
        and I write <strong class="pink-text text-lighten-5">clean</strong> and <strong>testable</strong> code</h5></br></br></br>
    </div>
  </div>
</div>
