<div class="row">
  <h2 class="black-test center-align header">Current Stack</h2>
  <div class="col s3">
    <div class="center promo promo-example">
      <img class="responsive-img" src="images/thumbs/mongo.png">
      <p class="promo-caption black-test">MongoDB</p>
      <p class="light center black-test">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
    </div>
  </div>
  <div class="col s3">
    <div class="center promo promo-example">
      <img class="responsive-img" src="images/thumbs/express.png">
      <p class="promo-caption black-test">Express</p>
      <p class="light center black-test">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
    </div>
  </div>
  <div class="col s3">
    <div class="center promo promo-example">
      <img class="responsive-img" src="images/thumbs/angular.png">
      <p class="promo-caption black-test">AngularJS</p>
      <p class="light center black-test">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
    </div>
  </div>
  <div class="col s3">
    <div class="center promo promo-example">
      <img class="responsive-img" src="images/thumbs/node.png">
      <p class="promo-caption black-test">Node.js</p>
      <p class="light center black-test">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
    </div>
  </div>
</div>
