<div id="stack" class="row">
  <h2 class="white-text center-align header">Current Toolbelt</h2>
  <div class="col s12">
    <h5 class="thin white-text center">I currently specialize in all things <strong>JavaScript</strong> but am always on the hunt to learn new technologies.</h5><br>
    <div class="col s3">
      <div class="center promo">
        <img class="responsive-img" src="images/thumbs/mongo.png">
        <p class="promo-caption white-text">MongoDB</p>
        <p class="light center white-text">For simple deployment, quick scalability, and readability. A RESTful API's best friend.</p>
      </div>
    </div>
    <div class="col s3">
      <div class="center promo">
        <img class="responsive-img" src="images/thumbs/express.png">
        <p class="promo-caption white-text">Express</p>
        <p class="light center white-text">To build clean Node.js applications and to easily maintain middleware.</p>
      </div>
    </div>
    <div class="col s3">
      <div class="center promo">
        <img class="responsive-img" src="images/thumbs/angular.png">
        <p class="promo-caption white-text">AngularJS</p>
        <p class="light center white-text">For infinite modularity and scalability. HTML will never be the same. Google done did this one right.</p>
      </div>
    </div>
    <div class="col s3">
      <div class="center promo">
        <img class="responsive-img" src="images/thumbs/node.png">
        <p class="promo-caption white-text">Node.js</p>
        <p class="light center white-text">For keeping JavaScript throughout the stack. An ode to asynchronous programming and Autobahn-like request/response speeds.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <div class="chip  blue-grey darken-2"><span class="thin white-text">PostGreSQL</span></div>
      <div class="chip  blue-grey darken-2"><span class="thin white-text">jQuery</span></div>
      <div class="chip  blue-grey darken-2"><span class="thin white-text">Jasmine</span></div>
      <div class="chip  blue-grey darken-2"><span class="thin white-text">Mocha && Chai</span></div>
      <div class="chip  blue-grey darken-2"><span class="thin white-text">Gulp</span></div>
      <div class="chip  blue-grey darken-2"><span class="thin white-text">Bootstrap</span></div>
      <div class="chip  blue-grey darken-2"><span class="thin white-text">SQL</span></div>
      <div class="chip  blue-grey darken-2"><span class="thin white-text">Sass</span></div>
      <div class="chip  blue-grey darken-2"><span class="thin white-text">Bower</span></div>
    </div>
  </div>
